/*GENERAL*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*BODY*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/*UTILITY*/

.container {
    width: 1170px;
    margin: 30px auto;
    background-color: whitesmoke;
}

main .col-one,
main .col-two,
main .col-three {
    float: left;
}

.columns::after {
    content: "";
    display: block;
    clear: both;
}

/*HEADER*/

header {
    margin-bottom: 20px;
}
header .logo img {
    width: 160px;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #858585;
}

/*MAIN*/

.mainslide {
    /*height: 400px; /*fake content*/
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-position:  center;
}

.content {
    height: 400px;
    padding: 250px 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

h2 {
    font-weight: 600;
}


/*COLUMNS*/

.columns{
    height: 400px;
    padding:20px 0;
    background-color: rgb(64, 67, 240);
}

.col-one,
.col-three {
    height: 100%;
    width: 25%;
    background-color: aquamarine;
}

.col-two {
    height: 100%;
    width: calc(50% - 40px);
    margin: 0 20px;
    background-color: aquamarine;
}

/*Footer*/

.footer {
    margin-top: 20px;
    text-align:center;
    color: black;
}

#heart {
    color: red;
}